packages:
  yum:
    gcc: []
    gcc-c++: []
    postgresql-devel: []
    python3-devel: []
    amazon-linux-extras: []

commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql14
  02_epel_repo:
    command: sudo amazon-linux-extras enable epel
  03_install_postgis:
    command: sudo yum install -y postgis34_14
  04_install_gdal:
    command: sudo yum install -y gdal