option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings
    PYTHONPATH: /var/app/current
    GDAL_LIBRARY_PATH: /usr/lib64/libgdal.so
    GEOS_LIBRARY_PATH: /usr/lib64/libgeos_c.so

container_commands:
  01_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py migrate --noinput
    leader_only: true