option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:application:environment:
    GDAL_LIBRARY_PATH: "/usr/lib64/libgdal.so"
    GEOS_LIBRARY_PATH: "/usr/lib64/libgeos_c.so"

container_commands:
  01_upgrade_pip:
    command: |
      source /var/app/venv/*/bin/activate
      pip install --upgrade pip
  02_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install -r requirements.txt
  03_collectstatic:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py collectstatic --noinput
  04_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py migrate --noinput
    leader_only: true