container_commands:
  01_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python manage.py migrate --noinput --verbosity 3 2>&1 | tee /var/log/migration.log
    leader_only: true
  02_log_migration_output:
    command: |
      if [ -f /var/log/migration.log ]; then
        cat /var/log/migration.log
      fi